<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
<form action="/calculate" method="post">
    <div>
        <label for="bmi-weight">Weight (kg)</label>
        <input id="bmi-weight" name="weight" required placeholder="please enter weight"/>
    </div>

    <div>
        <label for="bmi-height" >Height (cm)</label>
        <input id="bmi-height" name="height" required placeholder="please enter height"/>
    </div>

    <button type="submit">Calculate BMI</button>
</form>
</div>
</body>
</html>